/* Global Styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: 'Numito', sans-serif;
    font-size: 10px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

p{
    font-size: 1.6rem;
}

/*login-registration*/
div .login-registration{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(-30deg, #7194b5 0%, #3d4ba9 50%,
    #412994 50%, #6454b3 100%);
    animation: animate 30s linear infinite;
}
@keyframes animate{
    0%   {filter: hue-rotate(0deg);}
    50%  {filter: hue-rotate(16deg);}
    100% {filter: hue-rotate(0deg);}
}
.box{
    position: relative;
    padding: 50px;
    width: 400px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
}
.box::after{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    border-radius: 3px;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 15%, transparent 50%, transparent 85%,
    rgba(255, 255, 255, 0.15) 100%);
}
.box .form{
    position: relative;
    width: 100%;
}
.box .form h2{
    color: #fafafa;
    font-weight: 600;
    font-size: 2.2rem;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.box .form .inputBox{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.box .form .inputBox input{
    width: 100%;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
    padding: 8px 10px 8px 35px;
    border-radius: 6px;
    color: #fafafa;
    font-size: 1.5rem;
    font-weight: 300;
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.2);
}
.box .form .inputBox input::placeholder{
    color: #fafafa;
}
.box .form .inputBox .button{
    width: 100%;
    background: #fafafa;
    color: #111;
    padding: 8px 25px;
    box-shadow: none;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    font-size: 16px;
}
.box .form .inputBox .button:hover{
    background-color: #e9e9e9;
}
.box .form .inputBox img{
    position: absolute;
    width: 25px;
    height: 25px;
    top: 8px;
    left: 10px;
    transform: scale(0.7);
    filter: invert(1);
}
.box .form p{
    color: #fafafa;
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: 5px;
}


/*home padding*/
section{
    padding: 5rem 0;
}
/* Header*/
header {
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/*home page style*/
.container{
    width: 100%;
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

img.home-img{
    width: 110%;
    max-width: 110%;
    height: auto;
}
nav.home-nav{
    width: 100%;
    display: flex;
    align-items: center ;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-list{
    width: 25rem;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -26rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    z-index: 1500;
    transition: all 650ms ease-in-out;
}
.nav-item{
    margin: 1.5rem 0;
}
.nav-link{
    color: #fafafa;
    position: relative;
    font-size: 1.4rem;
    text-transform: uppercase;
}

/*main page sidebar*/
.sidebar{
    position: fixed;
    height: 100%;
    width: 250px;
    background: linear-gradient(180deg, #412994 0%, #6454b3 100%);
}
.sidebar .main-img {
    position: relative;
    width: 120%;
    max-width: 120%;
    left: 8px;
    top: 20px;
}
.sidebar-list{
    position: relative;
    top: 80px;
    padding: 0;
    width: 100%;
    background: linear-gradient(180deg, #5539a5 50%, #5136a2 100%);
}
.sidebar-list .row{
    width: 100%;
    height: 70px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    color: #fafafa;
    border: 1px solid rgb(73, 49, 153);
    border-radius: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Sans', Arial, sans-serif;
}
.sidebar-list .row .link{
    width: 100%;
    height: 100%;
    font-size: 2.2rem;
    letter-spacing: 1px;
    padding: 20px 25px;
}
.sidebar-list .row .link:hover{
    background-color: #5746b0;
}
.sidebar-list .row .img{
    position: absolute;
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(95%);
}
.sidebar .row .link p{
    position: relative;
    padding-left: 45px;
    color: #fafafa;
    font-size: 2.1rem;
}
.sidebar .text{
    width: 100%;
    height: 100%;
    background: linear-gradient(80deg, #5e84ab 0%, #3142a5 50%,
    #412994 50%, #6454b3 100%);
}
.sidebar .text h1{
    position: absolute;
    padding-bottom: 20px;
    padding-left: 20px;
    bottom: 10px;
    color: #dddddd;
    font-size: 2rem;
}
.sidebar .text h2{
    position: absolute;
    padding-left: 30px;
    bottom: 10px;
    color: #b5b4b4;
    font-size: 1.8rem;
}
.sidebar .text h2.admin{
    position: absolute;
    padding-left: 20px;
    bottom: 10px;
    color: #f1f1f1;
    font-size: 1.8rem;
}
/*top navigation bar on main page*/
.top-bar{
    position: absolute;
    width: 100%;
    height: 100px;
    background: linear-gradient(180deg, #ffffff 0%, #f5f5f5 100%);
}
.top-bar .button{
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    text-indent: 35px;
    right: 35px;
    top: 25px;
}
.top-bar .button .image-logout{
    width: 30px;
    height: 30px;
    filter: invert(23%) sepia(94%) saturate(5526%) hue-rotate(352deg) brightness(116%) contrast(105%);
 }
.top-bar .button .image-settings{
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(60%);
}
.top-bar .button p{
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Sans', Arial, sans-serif;
}
.top-bar h5{
    position: absolute;
    padding-left: 270px;
    padding-top: 20px;
    font-size: 2rem;
    font-weight: normal;
    color: #a7a7a7;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Sans', Arial, sans-serif;
}
.top-bar h4{
    position: absolute;
    padding-left: 270px;
    padding-top: 50px;
    font-size: 3rem;
    font-weight: normal;
    transform: scaleY(0.95);
    color: #2b2b2b;
    font-family: Tahoma, serif;
}
/*banking app background*/
.main-background{
    width: 100%;
    height: 100vh;
    color: #b0b0b0;
}
.main-background .big-bank-box .flex-container{
    display: flex;
    flex-direction: row;
}
.main-background .big-bank-box{
    position: relative;
    overflow: auto;
    left: 27rem;
    top: 12rem;
    width: 172vh;
    height: 85vh;
    background: rgba(253, 253, 253, 1);
    border: 2px solid #ffffff;
    border-radius: 1.2rem;
    box-shadow: 0 5px 35px rgba(102, 102, 102, 0.2);
}
.main-background .small-bank-box{
    position: relative;
    left: 78rem;
    top: 12rem;
    width: 60vh;
    height: 75vh;
    background: rgba(253, 253, 253, 1);
    border: 2px solid #ffffff;
    border-radius: 1.2rem;
    box-shadow: 0 5px 35px rgba(102, 102, 102, 0.2);
}
.main-background .small-bank-box-left{
    position: absolute;
    left: 30rem;
    top: 12rem;
    width: 60vh;
    height: 70vh;
    background: rgba(253, 253, 253, 1);
    border: 2px solid #ffffff;
    border-radius: 1.2rem;
    box-shadow: 0 5px 35px rgba(102, 102, 102, 0.2);
}
.main-background .small-bank-box-right{
    position: absolute;
    right: 5rem;
    top: 12rem;
    width: 100vh;
    height: 70vh;
    background: rgba(253, 253, 253, 1);
    border: 2px solid #ffffff;
    border-radius: 1.2rem;
    box-shadow: 0 5px 35px rgba(102, 102, 102, 0.2);
}
.main-background .table{
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.main-background .table .font-information{
    font-size: 16px;
}
.main-background .table .font-headings{
    font-size: 22px;
}
.top-bar .inputBox{
    position: relative;
    width: 100%;
}
.top-bar .button-account{
    width: 50rem;
    color: #111;
    background-color: #cdcdcd;
    padding: 8px 25px;
    box-shadow: none;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    font-size: 16px;
}
.top-bar .button-account:hover{
    background-color: #bcbcbc;
}
.top-bar .form-account{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 10px;
}
.top-bar .form-account label{
    font-size: 16px;
    color: #111111;
    padding-bottom: 20px;
}
.top-bar .form-account .input-settings{
    width: 300px;
    height: 25px;
    font-size: 16px;
    padding-left: 5px;
}
.main-background h1{
    position: center;
    padding-top: 10px;
    padding-left: 10px;
    color: #151515;
    font-size: 3rem;
    font-family: 'Aldrich', sans-serif;
}

/*testing*/
.default {
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, rgba(49,24,131,0.9) 0%, rgba(72,56,149,0.8)
    100%), url("../images/background2.jpg") center no-repeat;
    background-size: cover;
    position: relative;
}

.centered-text-default {
    position: absolute;
    font-family: 'Aldrich', sans-serif;
    font-size: 2rem;
    top: 30%;
    left: 50%;
    color: #000000;
    transform: translate(-50%, -50%);
}
/*hero*/
.hero{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, rgba(49,24,131,0.9) 0%, rgba(72,56,149,0.8)
    100%), url("../images/background2.jpg") center no-repeat;
    background-size: cover;
    position: relative;
}
.hero::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 4.7rem;
    background: url("../images/wave-large.png") center no-repeat;
    background-size: 100% 100%;
}

.home-message{
    width: 100%;
    max-width: 50rem;
    color: #fafafa;
    text-transform: uppercase;
    transform: translateY(20%);
}
.home-message h3{
    font-size: 1.6rem;
}
.home-message h1{
    font-family: 'Aldrich', sans-serif;
    font-size: 4rem;
    margin: 1rem 0;
}
.home-message p{
    text-transform: lowercase;
}
.btn{
    background-color: #eb648c;
    border-radius: 2rem;
    color: #fafafa;
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    transition: background-color 650ms;
    font-size: 15px;
}

.btn:hover{
    background-color: #cf527a;
}

.btn1{
    background-color: #eb648c;
    border-radius: 2rem;
    color: #fafafa;
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    transition: background-color 650ms;
    font-size: 15px;
}
.btn1:hover{
    background-color: #ce587b;
}

/*Experience banking*/
.experience-banking{
    padding: 0;
}
.title-heading{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10rem;
    color: rgba(0,0,0,7);
}
.title-heading h3{
    font-size: 1.4rem;
}
.title-heading h1{
    font-family: 'Aldrich', sans-serif;
    font-size: 2rem;
    margin: .5rem 0 1rem;
}
.title-heading p{
    text-transform: lowercase;
}
.activities-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
}
.activities-grid-item{
    height: 40rem;
    padding: 5rem;
    color: #fafafa;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
}
.activities-grid-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(135deg, rgba(49,24,131,0.9) 0%, rgba(72,56,149, 0.8) 100%);
    z-index: -1;
}

.saving-account{
    background: url("../images/img.png") center no-repeat;
}
.currency{
    background: url("../images/map.jpg") center no-repeat;
}
.overdraft{
    background: url("../images/card.jpg") center no-repeat;
}
.activities-grid-item i{
    font-size: 4rem;
    color: #eb648c;
}
.activities-grid-item h1{
    font-family: 'Aldrich', sans-serif;
    font-size: 1.7rem;
    text-transform: uppercase;
    margin: 2rem 0;
}
/*Testimonials*/
.testimonials{
    width: 100%;
    height: 80vh;
    background: linear-gradient(135deg, rgba(49,24,131,0.9) 0%, rgba(72,56,149,0.8)
    100%), url("../images/testimonials-bg1.jpg") center no-repeat;
    background-size: cover;
    position: relative;
}
.testimonials::before{
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 100%;
    height: 4.7rem;
    background: url("../images/wave-large-reversed.png") center no-repeat fixed;
    background-size: 100% 100%;
}
.testimonial{
    width: 100%;
    color: #fafafa;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -25%);
    text-align: center;
}
.testimonial-text-box{
    padding: 0 1.5rem;
    margin-bottom: 2rem;
    position: relative;
}
.testimonial-text-box i{
    position: absolute;
    top: -8rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 8rem;
    color: #eb648c;
    opacity: .5;
    z-index: -1;
}
.testimonial-customer img{
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    border: 3px solid #eb648c;
}

/*Begin Adventures*/
.banking-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    margin-bottom: 2rem;
}
.banking-grid-item p{
    color: rgba(0,0,0,0.7);
}
footer{
    padding: 2.5rem 0;
    background-color: #d7d4ed;
    text-align: center;
    color: rgba(0,0,0,0.7);
}
@media screen and (min-width: 350px) {
    .home-message {
        transform: translateY(40%);
    }
}
    @media screen and (min-width: 470px) {
        .hero::before {
            height:9.4rem;
            background: url("../images/wave-large.png");
            background-size: cover;
        }
        .testimonials::before {
            height:9.4rem;
            background: url("../images/wave-large-reversed.png");
            background-size: 100% 100%;
        }
    }
@media screen and (min-width: 700px) {
    header {
        height: 8rem;
    }

    .nav-brand {
        width: 20.5rem;
    }

    .nav-list {
        width: initial;
        height: initial;
        position: initial;
        top: initial;
        right: initial;
        flex-direction: row;
        transition: initial;
    }

    .menu-icons {
        display: none;
    }

    .nav-item {
        margin: 0 2.5rem;
    }

    .nav-link::before,
    .current::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -.5rem;
        background-color: #eb648c;
        width: 100%;
        height: 2px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 650ms;
    }
}
.current::before{
    transform: scaleX(1);
}
.nav-link:hover::before{
    transform: scaleX(1);
}

@media screen and (min-width: 950px) {
    .hero::before {
        height:22.7rem;
        background: url("../images/wave-large.png");
        background-size: 100% 100%;
    }
    .testimonials::before {
        height: 17.7rem;
        background: url("../images/wave-large-reversed.png");
        background-size: 100% 100%;
    }
}
